.octocat {
    display: inline-block;
    width: 3em;
}


.search {
    width: 30%;
    display: inline-block;
}

.user {
    border: 1px solid black;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.url {
    word-wrap: break-word;
}
/*.searchField {*/
    /*margin-left: 2em;*/
/*}*/